input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.main-logo {
    max-width: 110px;
    max-height: 30px;
    margin: 20px auto;

    img {
        width: 100%;
        height: 100%;
    }
}

.main-layout {
    padding: 20px;
}

.dashboard_card {
    width: 100%;
    padding-block: 20px;

    .dashboard_card-item {
        width: 100%;
        margin-block: 10px;

        hr {
            width: 100%;
            white-space: nowrap;
            margin: 0 5px;
            border-color: #f5f5f565;
        }

        p {
            color: red;
            font-weight: 700;
        }
    }
}

.dashboard_section-btn {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;

    button {
        padding: 14px 30px;
        border-radius: 8px;
        border: 1px solid #0d20b0;
        outline: none;
        border: none;
        width: 100%;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
        background-color: #fff;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.207);
    }

    .bg_active {
        background: linear-gradient(167deg, rgba(61, 100, 196, 1) 16%, rgba(19, 36, 159, 1) 58%);
        color: #fff;

    }
}


.mockup-card {
    background: linear-gradient(167deg, rgba(61, 100, 196, 1) 16%, rgba(19, 36, 159, 1) 58%);
    color: #fff;
    width: 100%;
    padding: 26px 32px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: relative;
}

.mockup-card-header {
    text-align: end;
}

.mockup-card-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 0;

    .mockup-card-icon {
        transform: rotate(90deg);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 18px;
        }
    }

}

.mockup-card-label {
    display: flex;
    align-items: center;

    img {
        width: 50px;
    }
}

.mockup-card-value {
    .mockup-card-numbers {
        font-size: 24px;
        letter-spacing: 4px;
        font-weight: 600;
    }

    .mockup-card-date {
        display: flex;
        align-items: center;
        gap: 10px;

        .mockup-card-title {
            font-size: 8px;
            line-height: 8px;
        }

        .mockup-card-year {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.mockup-card-fullname {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2.5px;
    font-size: 20px;
    padding-top: 10px;
    min-height: 42px;
}

.mockup-card-symbal {
    position: absolute;
    right: 12px;
    bottom: 8px;

    img {
        height: 45px;
        border-radius: 4px;
    }
}

//Login
.login_page {
    width: 100%;
    height: 100vh;
    background: url('../images/sunset.jpg') no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-input-affix-wrapper {
        background-color: transparent;
        color: #fff;

        ::placeholder {
            color: #fff !important;
        }

        svg {
            color: #fff;
        }
    }
}

.login_aside-img {
    background-color: rgba(29, 29, 29, 0.383);
    color: #fff;
    max-width: 500px;
    width: 100%;
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(4px);
    border: 1px solid #bfbfbf;
}

.login_error {
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 4px;
    margin-top: 2px;
    background-color: black;
    color: #fff;
    text-align: start;
    position: absolute;
}

.defoult-shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    border-radius: 8px;
}

.active-access {
    background-color: rgba(78, 183, 78, 0.061);
    border: 1px solid green;
    width: 80px;
    border-radius: 6px;
    color: #433d3d;
    font-weight: 600;
    padding-block: 2px;
    display: block;
    text-align: center;
}

.disabled-access {
    background-color: rgba(255, 0, 0, 0.094);
    border: 1px solid red;
    width: 80px;
    font-weight: 600;
    border-radius: 6px;
    color: #433d3d;
    padding-block: 2px;
    display: block;
    text-align: center;
}