@import url('./assets/css/index.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rhap_container {
  border-radius: 16px;
  box-shadow: none !important;
}


.ant-table-thead>tr>th {
  background-color: #163297 !important;
  color: white !important;
  text-align: center !important;
}

.custom-table .ant-table-thead {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.ant-otp-input {
  font-size: 18px;
  font-weight: 600;
}

.Toastify__toast-container {
  width: 500px !important;
}

.withcard-modal-select {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 8px;
  border-left: 3px solid transparent;
  transition: all .4s ease;
  border-left: 3px solid #1677FF;
}

.withcard-modal-select:hover {
  border: 1px solid #00000035;
  background-color: #fff;
  border-left: 3px solid #1677FF;
}